.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:5%;
    font-size:1.5rem;
}
.about-button{
    margin:2rem;
    width:100%;
    background-color: rgb(255, 255, 255);
    border: .1rem solid rgb(223, 217, 217);
    border-radius:.2rem ;
    cursor: pointer; 
    word-break: break-word; 
    box-shadow: 1px 1px #888888;
}

.about-title_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.about-title_content:hover{
    opacity: 0.7;
}
.image{
  border:.1rem solid rgb(221, 218, 218);
  border-radius: 50%;
  width:100px;
  margin:1.5rem;
}
.about-title__content{
    display: flex;

}
.about-topic__content{
    display: flex;
    flex-direction: column; 
    margin-top:2.5rem;
}
@media (max-width: 1300px) {
    .about-button {
      font-size:.9rem;
    }
    .about-show {
      font-size:.8rem;

    }
  }
.about-content{
    font-weight: bold;
    font-size: 2rem;
}
.about-show{
    padding:0 5rem 0 0; 
    word-break: break-word; 
}
.about-articles{
    border-top:.1rem solid rgb(206, 208, 209);
}
.about-symbol-top{
    color:rgb(128, 130, 131);
    transform: rotate(270deg);
    font-size: 2rem;
    margin:0 2rem 0 0;
}
.about-symbol-bottom{
    color:rgb(128, 130, 131);
    margin:0 9rem 0 0;
    transform: rotate(90deg);
    font-size: 2rem;
}
.article_length{
    font-size: 1.1rem;
}

